.FooterContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #8f1a67;

}
.FooterWrapper{
    width: 60%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


}
.FooterWrapper img{
    height: 70px;
}
.FooterIMGWrapper{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap:20px

}