.MyProjectsWrapper{
    width: 60%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MyProjectsCard{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
   
}
.MyProjectsCard img{
    height :160px;
}